{{!< default}}

<main id="site-main" class="site-main outer">
    <div class="inner posts">

        <div class="post-feed">
            {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
            <h3>{{title}}</h3>
            <div style="width:50vw;text-align:justify">{{html}}</div>
        </div>

    </div>
</main>
